@charset "UTF-8";
/*
    Em hetml e id ---------em css e #
    em html e class ------ em css e .
*/

body{
    background-color: aquamarine;
}

h1{
    color: crimson;
}
h1#principal{
    text-align: center;
    background-color: crimson;
    color: white;

}

h2{
    color: rgb(146, 14, 14);

}
.basico{
    color: green;
    
}

.intermediario{
    color: yellow;
    
    

}

.avancado{
    color: red;

}

.destaque{
    background-color: rgba(255, 255, 0, 0.466);
}